body {
    margin: 5px 0 0 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1 {
    color: #0F8CDF;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid {
    color: #999;
}

.liked {
    color: red;
}

.retweeted {
    color:limegreen;
}

/* layout */

main, header{
    width: 290px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea {
    border: none;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin: 0 0 10px 0;
    line-height: 30px;
    transition: 0.3s;
    resize: none;
}

textarea:focus{
    font-size: 15px;
    transition: 0.3s;
    height: 70px;
}

button {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: #1DA1F2;
    color: whitesmoke;
    padding: 10px 19px;
    width: 100%;
    border: none;
    border-radius: 20px;
}

/* tweet */

.tweet {
    width: 100%;
    margin: 15px 0;
    padding: 20px 0 0 0;
    border-top: 1px solid lightgray;
}

.tweet-inner {
    display: flex;
    gap:10px;
    align-items: flex-start;
}

.handle {
    margin-top: 0;
    font-size: 12px;
    font-weight: 500;
    color: #555;
}

.tweet-text {
    font-size: 14px;
    width: 207px;
    line-height: 20px;
}

.tweet-details {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    width: 100%;
}

.tweet-detail {
    display: flex;
    gap: 5px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

/* images */

.twitter-logo {
    width: 36px;
    height: 36px;
    margin: 0 auto 0 auto;
    padding-top: 5px;
}

.location-logo {
    padding: 10px;
    width: 24px;
    height: 24px;
}

.location-logo:hover,
.location-logo:active {
    opacity: 0.5;
    cursor: pointer;
}

.profile-pic {
    width:48px;
    height:48px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

/* utility */

.hidden{
    display: none;
}